@use "../mixins";

.form {

  margin: 0 0 115px 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 0 0 50px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 0 0 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: var(--color-black);

    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 30px;
      line-height: 1.2;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
    }
  }

  &__body-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-bottom: 60px;

    &:last-child {
      display: flex;
      align-items: center;

      margin: 0;

      @include mixins.respond-to(tablet) {
        align-items: flex-end;
      }
    }

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      flex-direction: row;
    }
  }

  &__formset {
    display: flex;
    flex-wrap: nowrap;

    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin: 0 0 50px 0;
    }

    @include mixins.respond-to(tablet) {
      flex-direction: row;
      align-items: flex-end;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__formset-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-black);

    cursor: pointer;

    margin: 0 9px 0 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 1.2;

      margin: 0 0 10px 0;

      & br {
        display: none;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;
      line-height: 1.2;

      margin: 0;

      & br {
        display: none;
      }
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1149px) {
    &__formset-text {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__formset-field {
    position: relative;

    display: flex;
    flex-wrap: nowrap;

    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
    }
  }

  &__formset-input {
    border: none;
    border-bottom: 1px solid var(--color-alto);
    outline: none;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-electric-violet);

    transition: outline 0.1s;

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 1.2;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;
      line-height: 1.2;
    }

    &--one {
      width: 360px;
    }

    &--two {
      width: 290px;
    }

    &--three {
      width: 162px;

      font-size: 22px;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
        line-height: 1.2;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 16px;
        line-height: 1.2;
      }
    }

    &--four {
      width: 162px;

      font-size: 22px;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
        line-height: 1.2;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 16px;
        line-height: 1.2;
      }
    }

    &--five {
      width: 690px;
    }

    &--six {
      width: 400px;
    }

    &:focus-visible {
      border-bottom: 2px solid var(--color-green);

      transition: border-bottom 0.1s;
    }
  }

  &__formset-underline {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-silver-chalice);
    white-space: nowrap;

    @include mixins.respond-to(tablet) {
      white-space: nowrap;
    }
  }

  &__file-loader {
    position: relative;

    cursor: pointer;

    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-electric-violet);
    text-decoration: underline;

    transition: color background-color outline 0.3s;

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 1.2;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;
      line-height: 1.2;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-electric-violet);

      transition: color background-color 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-green);
      outline-offset: 1px;

      transition: outline 0.1s;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1149px) {
    &__file-loader {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__file-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-black);

    background-color: var(--color-canary);
    border-radius: 15px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 1.2;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1149px) {
    &__file-name {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__submit {
    position: relative;

    width: 280px;
    height: 72px;
    border: 1px solid var(--color-black);
    border-radius: 13px;
    overflow: hidden;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
    cursor: pointer;

    transition: color outline 0.5s;

    margin: 0 0 0 auto;

    z-index: 10;

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;

      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;

      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;

      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      border-radius: 13px;
      pointer-events: none;

      transition: left 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      z-index: -1;
    }

    &:hover {
      color: var(--color-white);

      transition: color 0.5s;
    }

    &:hover::before {
      left: 0;

      transition: left 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &:focus-visible {
      outline: 5px solid var(--color-green);
      outline-offset: 5px;

      transition: outline 0.1s;
    }
  }
}

@include mixins.respond-to(mobileOnly) {

  .form__formset-input--one,
  .form__formset-input--two,
  .form__formset-input--three,
  .form__formset-input--four,
  .form__formset-input--five,
  .form__formset-input--six {
    width: 100%;
    max-width: 100%;
  }
}

@include mixins.respond-to(tabletOnly) {

  .form__formset-input--one,
  .form__formset-input--two,
  .form__formset-input--three,
  .form__formset-input--four,
  .form__formset-input--five,
  .form__formset-input--six {
    width: 100%;
    max-width: 100%;
  }
}