@use "../mixins";

.vacancies {

  margin: 0 0 100px 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 0 0 50px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 0 0 50px 0;
  }

  &__container {
    display: grid;
    grid-template: 1fr / repeat(3, 400px);
    grid-auto-flow: row;
    align-items: stretch;
    grid-gap: 22px;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include mixins.respond-to(tabletOnly) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    width: 400px;
    min-height: 210px;
    border: 1px solid var(--color-black-haze);
    border-radius: 15px;

    transition: 0.3s;

    padding: 25px 30px 25px 20px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 320px;
    }

    h2 {
      font-weight: 700;
      font-size: 27px;
      line-height: 33px;
      color: var(--color-black);

      transition: color outline 0.1s;

      padding: 0;
      margin: 0 0 5px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 20px;
        line-height: 1.2;

        margin: 0 0 10px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 20px;
        line-height: 1.2;

        margin: 0 0 10px 0;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-black);

      padding: 0;
      margin: 0 0 40px 0;
    }

    &:hover h2 {
      color: var(--color-green);

      transition: color 0.1s;
    }

    &:active h2 {
      color: var(--color-green);

      transition: color 0.1s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-green);
      outline-offset: 5px;

      transition: outline 0.1s;
    }
  }

  &__item-details {
    position: relative;

    display: flex;
    align-items: center;

    width: fit-content;

    padding: 0 40px 0 0;
  }

  &__details-text {
    background-color: var(--color-white);

    font-size: 18px;

    z-index: 10;
  }

  &__details-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    transition: 0.3s;

    z-index: -1;
  }

  &__item:hover .vacancies__details-icon {
    left: 115px;

    transition: left 0.3s;
  }

  &__item:active .vacancies__details-icon {
    filter: invert(48%) sepia(20%) saturate(4082%) hue-rotate(80deg) brightness(107%) contrast(97%);

    transition: filter 0.1s;
  }
}