@use "../mixins";

.vacancy {

  margin: 75px 0 137px 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 75px 0 65px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 75px 0 65px 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;

    margin: 0 0 63px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 26px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 26px 0;
    }
  }

  &__column--right {
    padding: 35px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }
  }

  &__column-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: var(--color-black);

    margin: 0 0 10px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 30px;
      line-height: 130%;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 30px;
      line-height: 130%;
    }
  }

  &__column-pricerange {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: var(--color-black);

    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 18px;
      line-height: 130%;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__column-graphic {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;

      margin: 0 0 15px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      display: block;

      margin: 0 0 15px 0;
    }
  }

  &__graphic-img {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    margin: 0 0 15px 0;
  }

  &__tags-item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    border: 1px solid var(--color-alabaster);
    border-radius: 9px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-green);

    padding: 10px;
    margin: 0 15px 10px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__column-description {
    max-width: 690px;

    margin: 0 0 35px 0;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: var(--color-black);

      padding: 0;
      margin: 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
        line-height: 130%;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 16px;
        line-height: 130%;
      }
    }
  }

  &__todo {
    max-width: 610px;

    margin: 0 0 26px 0;

    h2 {
      font-weight: 700;
      font-size: 23px;
      line-height: 28px;
      color: var(--color-black);

      padding: 0;
      margin: 0 0 15px 0;
    }

    & ul {
      list-style: none;

      padding: 0;
      margin: 0;
    }

    & li {
      position: relative;

      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-transform: lowercase;

      padding: 0 0 0 18px;
      margin: 0 0 0 12px;

      &:last-child {
        margin: 0 0 0 12px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 14px;
        left: 0;

        width: 3px;
        height: 3px;
        background-color: var(--color-black);
        border-radius: 50%;

        @include mixins.respond-to(mobileOnly) {
          top: 8px;
        }
      }

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
        line-height: 1.3;

        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 16px;
        line-height: 1.3;

        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__requirements {
    max-width: 620px;

    margin: 0 0 26px 0;

    h2 {
      font-weight: 700;
      font-size: 23px;
      line-height: 28px;
      color: var(--color-black);

      padding: 0;
      margin: 0 0 15px 0;
    }

    & ul {
      list-style: none;

      padding: 0;
      margin: 0;
    }

    & li {
      position: relative;

      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      padding: 0 0 0 18px;
      margin: 0 0 0 12px;

      &:last-child {
        margin: 0 0 0 12px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 14px;
        left: 0;

        width: 3px;
        height: 3px;
        background-color: var(--color-black);
        border-radius: 50%;

        @include mixins.respond-to(mobileOnly) {
          top: 8px;
        }

        @include mixins.respond-to(tabletOnly) {
          top: 50%;
          transform: translateY(-50%);

          width: 5px;
          height: 5px;
          border-radius: 50%;
        }
      }

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
        line-height: 1.3;

        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 16px;
        line-height: 1.3;

        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__conditions {
    & h2 {
      padding: 0;
      margin: 0 0 15px 0;
    }

    & ul {
      list-style: none;

      padding: 0;
      margin: 0;
    }

    & li {
      position: relative;

      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      padding: 0 0 0 18px;
      margin: 0 0 0 12px;

      &:last-child {
        margin: 0 0 0 12px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 14px;
        left: 0;

        width: 3px;
        height: 3px;
        background-color: var(--color-black);
        border-radius: 50%;

        @include mixins.respond-to(mobileOnly) {
          top: 8px;
        }

        @include mixins.respond-to(tabletOnly) {
          top: 50%;
          transform: translateY(-50%);

          width: 5px;
          height: 5px;
          border-radius: 50%;
        }
      }

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
        line-height: 1.3;

        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 16px;
        line-height: 1.3;

        margin: 0 0 10px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__footer {
    position: relative;

    display: flex;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;

      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
      align-items: flex-start;

      height: auto;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1287px) {
    &__footer {
      flex-direction: column;
      align-items: flex-start;

      height: auto;
    }
  }

  @media only screen and (min-device-width: 1288px) {
    &__footer {
      flex-direction: row;
      align-items: flex-end;

      height: 70px;
    }
  }

  &__button-wrapper {
    position: relative;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 40px 0;

      &:last-of-type {
        margin: 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 40px 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1287px) {
    &__button-wrapper {
      margin: 0 0 40px 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  @media only screen and (min-device-width: 1288px) {
    &__button-wrapper {
      margin: 0 15px 0 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &__footer-button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 280px;
    height: 70px;
    border: 1px solid var(--color-black);
    border-radius: 13px;
    overflow: hidden;
    cursor: pointer;

    transition: outline 0.1s;

    padding: 24px 16px 24px 16px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;

      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      border-radius: 13px;
      pointer-events: none;

      transition: left 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      z-index: -1;
    }
  }

  &__button-text {
    font-family: var(--font-family-buttons);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);

    transition: color 0.5s;
  }

  &__button-icon {
    transition: filter 0.5s;
  }

  &__footer-button:hover .vacancy__button-text {
    color: var(--color-white);

    transition: color 0.5s;
  }

  &__footer-button:hover .vacancy__button-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(10deg) brightness(109%) contrast(109%);

    transition: filter 0.5s;
  }

  &__footer-button:hover::before {
    left: 0;

    transition: left 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__footer-button:focus-visible {
    outline: 3px solid var(--color-green);
    outline-offset: 5px;

    transition: outline 0.1s;
  }

  &__button-label {
    position: absolute;
    left: 0;

    font-family: var(--font-family-buttons);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-gray);

    @include mixins.respond-to(mobileOnly) {
      bottom: -25px;
    }

    @include mixins.respond-to(tabletOnly) {
      bottom: -25px;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1287px) {
    &__button-label {
      bottom: -25px;
    }
  }

  @media only screen and (min-device-width: 1288px) {
    &__button-label {
      bottom: -35px;
    }
  }

  &__hh-link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 233px;
    height: 233px;
    border: 1px solid var(--color-black);
    border-radius: 50%;

    font-family: var(--font-family-buttons);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);

    transition: color outline 0.5s;

    margin: 0 0 0 auto;

    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      transform: scale(0);

      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--color-black);

      transition: transform 0.5s;

      z-index: -1;
    }

    &:hover {
      color: var(--color-white);

      transition: color 0.5s;
    }

    &:hover::before {
      transform: scale(1);
      transition: transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &:focus-visible {
      outline: 3px solid var(--color-green);
      outline-offset: 5px;

      transition: outline 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 50px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1287px) {
    &__hh-link {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  @media only screen and (min-device-width: 1288px) {
    &__hh-link {
      position: relative;
    }
  }
}