<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css" rel="stylesheet">
  <title></title>
</head>

<body>
  <header class="page-header">
    <img class="page-header__fake-header" src="img/image/design/fake-header.jpg" width="1920" height="160">
  </header>

  <style>
    @media only screen and (min-device-width: 320px) and (max-device-width: 1919px) {
      .page-header {
        display: none;
      }
    }
  </style>