:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-black-haze: #ebecec;
	--color-green: #1cc404;
	--color-canary: #f5f869;
	--color-electric-violet: #9747ff;
	--color-alto: #d9d9d9;

	// Шрифты
	--font-family-default: "Montserrat", system-ui, sans-serif;
	--font-family-buttons: "Inter", system-ui, sans-serif;
}